<DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title >Добавление задачи </title>
    <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">

</head>
<body style = "background-image: url(/media/images/back.jpg)">

<p>
<h2 style="margin-left:5%; color:red">Добавление задачи</h2>
</p>
<div style= "margin-left:5%; margin-right:35%">


<form action="{% url 'mathem:task_add_in' %}" method="POST" >
    {% csrf_token %}
    <input type="text" style= "width:400px" class="form-control mb-2 mr-sm-2" required placeholder="Название задачи" name="question_title" padding-left="50px">
    <br>

    <textarea type="text" class="form-control mb-2 mr-sm-2" placeholder="Условие задачи" colls="350" rows="5" name="question_text" ></textarea>
    <br>

    <input type="text" style= "width:200px" class="form-control mb-2 mr-sm-2" required placeholder="Правильный ответ" name="answer_text" ><br>
    <br>

    <button type="submit" style= "width:150px" class="btn btn-outline-success my-2 my-sm-0">Послать задачу</button>
    <br>
</form>
</div>

<div class="">




</body>
</html>
</DOCTYPE>
